@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 180 52% 94%;
    --foreground: 186 33% 20%;

    --card: 180 52% 94%;
    --card-foreground: 186 33% 20%;

    --popover: 180 52% 94%;
    --popover-foreground: 186 33% 20%;

    --primary: 186 33% 20%;
    --primary-foreground: 180 52% 94%;

    --secondary: 187 67% 88%;
    --secondary-foreground: 186 33% 20%;

    --muted: 183 54% 91%;
    --muted-foreground: 186 33% 35%;

    --accent: 182 64% 82%;
    --accent-foreground: 186 33% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 182 64% 82%;
    --input: 182 64% 82%;
    --ring: 186 33% 20%;

    --chart-1: 180 52% 94%;
    --chart-2: 187 67% 88%;
    --chart-3: 183 54% 91%;
    --chart-4: 182 64% 82%;
    --chart-5: 186 33% 20%;

    --radius: 0.5rem;

    --text-shadow: 0 0 10px hsl(var(--background));
  }

  .dark {
    --background: 217 32% 23%;
    --foreground: 206 17% 92%;

    --card: 217 32% 23%;
    --card-foreground: 206 17% 92%;

    --popover: 217 32% 23%;
    --popover-foreground: 206 17% 92%;

    --primary: 206 17% 92%;
    --primary-foreground: 217 32% 23%;

    --secondary: 209 24% 41%;
    --secondary-foreground: 206 17% 92%;

    --muted: 209 24% 41%;
    --muted-foreground: 206 17% 82%;

    --accent: 207 25% 65%;
    --accent-foreground: 217 32% 23%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 206 17% 92%;

    --border: 209 24% 41%;
    --input: 209 24% 41%;
    --ring: 206 17% 92%;

    --chart-1: 217 32% 23%;
    --chart-2: 209 24% 41%;
    --chart-3: 207 25% 65%;
    --chart-4: 206 17% 92%;
    --chart-5: 206 25% 75%;

    --text-shadow: 0 0 10px hsl(var(--background));
  }
}



@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(51, 65, 85, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 85, 105, 0.5);
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(51, 65, 85, 0.5) transparent;
}